{%- macro ddl_column_declaration(payload) -%}
    -- Table columns
    {%- for column in payload -%}
        {%- set prefix = "," if not loop.first %}
{{ "%-4s%-25s %-10s %-5s" | format(prefix, column.name, column.type, column.nullability) }}
    {%- endfor %}

    -- Technical columns
,   `__Year`                  smallint    NOT NULL
,   `__Month`                 tinyint     NOT NULL
,   `__Day`                   tinyint     NOT NULL
,   `__InsertTimestampUTC`    timestamp   NOT NULL
{%- endmacro %}

{%- macro ddl_struct_type(payload) -%}
# DBTITLE 1, Define dataframe
schema = StructType(
    [
{%- for column in payload %}
        StructField("{{ column.name }}", StructType.fromDDL("{{column.type}}"), {{ column.nullable if column.nullable is not none else False }}),
{%- endfor %}
        StructField("__Year", ShortType(), False),
        StructField("__Month", ByteType(), False),
        StructField("__Day", ByteType(), False),
        StructField("__InsertTimestampUTC", TimestampType(), False),
    ]
)
{%- endmacro %}

{%- macro dml_column_declaration(payload) -%}
    {%- for column in payload %}
    -- {{ column.name }}
    TRY_CAST(`{{ column.source_name }}` AS {{ column.type }}) AS `{{column.name}}`,
    CASE
        {% if column.nullable -%}
        WHEN `{{ column.source_name }}` IS NULL THEN 0 -- NULLable COLUMN
        {% else -%}
        WHEN `{{ column.source_name }}` IS NULL THEN  1 -- NOT NULL COLUMN
        {%- endif %}
        WHEN TRY_CAST(`{{ column.source_name }}` AS {{ column.type }}) IS NULL THEN 1 -- NOT ABLE TO CAST
        ELSE 0 -- ALL GOOD
    END AS `{{ column.name }}_hasCastError`,
    {%- endfor %}
{%- endmacro -%}

