{%- for entity in model.get_entity_list_by_layer('raw') %}
	{# V2: Generate stage model from raw entity using UnifiedEntityFactory #}
	{%- if entity.system_sources %}
        {% set ename = entity.entity_name %}
        {% set edisplayName = helper.cleanup_name(entity.entity.displayName) %}
        {% set edataModule = entity.data_module %}
        {% set edataProduct = entity.data_product %}
        {# V2: Get first system source for data source info #}
        {% set primary_source = entity.system_sources[0] %}
		{% set edataSource = primary_source.source.dataSource %}
        {% set datasource = model.data_sources.get_datasource(edataSource) %}
        {% set file_path = "%s/%s/%s" % (edataProduct, edataModule, ename) %}
>>>>>>>>>> {{ file_path }}.json|JSON
{
    "$schema": "../../../schemas/ModelDataEntity.json",
    "type": "entity",
    "entity": {
        "name": "{{ helper.translate_umlaute(ename) }}",
        "displayName": "{{edisplayName}}",
        "attribute": [
{%- for a in entity.attributes if not "ignore" in (a.tags or []) %}
                {
                    {% set mapped_data_type = model.data_sources.get_datasource_target_type(edataSource, a.dataType) %}
                    {% set data_type = model.data_types.get_data_type(mapped_data_type.value if mapped_data_type.value is defined else mapped_data_type) %}

                    "name": "{{ helper.cleanup_name(a.name) }}",
                    "dataType": "{{mapped_data_type}}",
                    "type": "{{ a.type.value if a.type else 'SCD1' }}"
        {%- if data_type.hasCharLen == true %} 
        	{%- if a.charLength != None %} 
        		{%- if a.charLength > 0 %} 
                    ,"charLength": {{a.charLength}}
        		{%- endif %}
        	{%- endif %}
       	{%- endif %}
        {%- if data_type.hasPrecision == true %} 
        	{%- if a.precision != None %} 
                    ,"precision": {{a.precision}}
	        {%- endif %}
        {%- endif %}
        {%- if data_type.hasScale == true %} 
        	{%- if a.scale != None %} 
                    ,"scale": {{a.scale}}
	        {%- endif %}
        {%- endif %}
        {%- if a.nullable != None %} 
                    ,"nullable": {{json.dumps(a.nullable)}}
        {%- endif %}
        {%- if a.ordinalNumber != None %} 
                    ,"ordinalNumber": {{a.ordinalNumber}}
        {%- endif %}
                {{ "}" if loop.last else "}," }}
    {%- else %}
{%- endfor %}            
        ]
    },
    "functions": {
        "sources": [
            {
                "type": "source",
                "source": {
                    "dataSource": "{{ primary_source.source.dataSource }}",
                    "sourceLocation": "{{ primary_source.source.sourceLocation }}",
                    "mapping": [
{%- for a in entity.attributes %}            
                        {
                            "sourceName": "{{a.name}}",
                            "name": "{{ helper.cleanup_name(a.name) }}"
                {{ "}" if loop.last else "}," }}
{%- endfor %}            
                    ]
                }
            }
        ]
    }
}
<<<<<<<<<< {{ file_path }}.json|JSON
    {% endif %}
{% endfor %}