resources:
  jobs:
    {{ data.job_key }}:
      name: ${var.job_name_prefix}{{ data.job_name }}
      max_concurrent_runs: 1
      parameters:
        - name: environment
          default: ${var.environment}
        - name: catalog_name
          default: ${var.catalog_name}
        - name: schema_prefix
          default: ${var.schema_prefix}
        - name: owner
          default: ${var.owner}
        - name: job_name
          default: "{{ '{{job.name}}' }}"
        - name: job_run_id
          default: "{{ '{{job.run_id}}' }}"
      tasks:
{% for task in data.tasks %}
        - task_key: {{ task.task_key }}
{% if task.is_notebook_task %}
          notebook_task:
            notebook_path: ${workspace.root_path}/${var.notebook_path}/{{ task.notebook_path }}
            source: WORKSPACE
{%- if task.resolved_cluster_ref %}
          existing_cluster_id: ${resources.clusters.{{ task.resolved_cluster_ref }}.id}
{%- else %}
          existing_cluster_id: ${var.{{ task.resolved_cluster_var }}}
{%- endif %}
{% else %}
          run_job_task:
            job_id: ${resources.jobs.{{ task.job_ref }}.id}
{% endif %}
{% if task.depends_on %}
          depends_on:
{% for dependency in task.depends_on %}
            - task_key: {{ dependency }}
{% endfor %}
{% endif %}
{% endfor %}
