{%- for relationship in data.relationships %}
{{- "\n\n" if not loop.first else "" -}}relationship {{ relationship.name }}
	fromColumn: {{ relationship.from_column_ref }}
	toColumn: {{ relationship.to_column_ref }}
{%- endfor %}
