# Model
unique_name: {{ model_unique_name }}
object_type: model
label: {{ model_label or model_unique_name }}
relationships:{% if relationships and relationships|length > 0 %}
{% for r in relationships %}
	- unique_name: {{ r.unique_name }}
		from:
			dataset: {{ r.from.dataset }}
			join_columns:
{% for jc in r.from.join_columns %}
				- {{ jc }}
{% endfor %}
		to:
			{% if r.to.row_security %}
			row_security: {{ r.to.row_security }}
			{% else %}
			dimension: {{ r.to.dimension }}
			level: {{ r.to.level }}
			{% endif %}
		{% if r.role_play %}role_play: {{ r.role_play }}{% endif %}
		{% if r.constraint_translation %}
		constraint_translation:
			level: {{ r.constraint_translation.level }}
			from_columns:
{% for fc in r.constraint_translation.from_columns %}
				- {{ fc }}
{% endfor %}
		{% endif %}
{% endfor %}
{% else %} []{% endif %}
metrics:{% if metrics and metrics|length > 0 %}
{% for m in metrics %}
	- unique_name: {{ m.unique_name }}
		{% if m.folder %}folder: {{ m.folder }}{% endif %}
{% endfor %}
{% else %} []{% endif %}
