# Metric
unique_name: {{ data.column_name }}_{{ data.column_aggregation_hint }}
object_type: metric
label: {{ data.column_name }}_{{ data.column_aggregation_hint }}
calculation_method: {{ data.column_aggregation_hint }}
dataset: {{ data.column_dataset_name }}
column: {{ data.column_name }}