unique_name: {{data.atscale_prpoerties.model_name}}
object_type: model
label: {{data.atscale_prpoerties.model_label}}
relationships: []
{% for relationship in data.relationships %}
  - unique_name: {{ relationship.unique_name }}
    from:
      dataset: {{ relationship.from_dataset }}
      join_columns:
        - {{ relationship.from_column }}
    to:
      dimension: {{ relationship_to_dimension }}
      level: {{ relationship.to_column }}
{% endfor %}
metrics:
{% for metric in data.metrics %}
  - unique_name: {{ metric.column_name }}_{{ metric.column_aggregation_hint }}
{% endfor %}