# Databricks notebook source
# MAGIC %md
# MAGIC # DML for {{ data.zone }}.{{ data.full_table_name }}

# COMMAND ----------

# MAGIC %md
# MAGIC ## Initialize base settings

# COMMAND ----------

# MAGIC %run ../../../../../../utils/MigrationFramework

# COMMAND ----------

dbutils.widgets.text("env", "dev", "Environment")
dbutils.widgets.text("catalog_name", "datam8_campus_dev_fka", "Catalog Name")
dbutils.widgets.text("owner", "datam8_sample_dev_owner", "Owner")
dbutils.widgets.text("job_run_id", "", "Job Run ID")

# dbutils.widgets.dropdown(
#     "run_mode",
#     "INFO",
#     ["DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"],
#     "Run Mode",
# )
#dbutils.widgets.text("sandbox", "_", "Sandbox")

dbutils.widgets.text("keyvault_name", "aut0kvt0dev0campus", "Key Vault Name")

# COMMAND ----------

# Retrieve a job-level parameter (will use default if it doesn't exist)
env = dbutils.widgets.get("env")
catalog_name = dbutils.widgets.get("catalog_name")
owner = dbutils.widgets.get("owner")
job_run_id = dbutils.widgets.get("job_run_id")
# run_mode = dbutils.widgets.get("run_mode")
# sandbox = dbutils.widgets.get("sandbox")

keyvault_name = dbutils.widgets.get("keyvault_name")

# static values
zone = "{{ data.zone }}"
data_source = "{{ data.data_source }}"
data_source_display = "{{ data.data_source_display }}"
source_name = "{{ data.source_name }}"
full_table_name = "{{ data.full_table_name }}"
write_mode = "{{ data.write_mode }}"

# COMMAND ----------

print("Environment: %s" % env)
print("Catalog: %s" % catalog_name)
print("Schema: %s" % zone)
print("Table: %s" % full_table_name)
print("Owner: %s" % owner)
print("Data Source: %s" % data_source)
print("Data Source Display: %s" % data_source_display)
# print("Mode: %s" % run_mode)

# COMMAND ----------

catalog = Catalog(catalog_name)
catalog.schema = zone
catalog.set_active()

# COMMAND ----------

# MAGIC %md
# MAGIC ## Read data from source system

# COMMAND ----------

# DBTITLE 1,Get connection values
DRIVER = "{{ data.driver }}"
database_connectionstring = dbutils.secrets.get(scope=keyvault_name, key="{{ data.connection_secret }}")

# COMMAND ----------

# MAGIC %md
# MAGIC ## Define query

# COMMAND ----------

{% if data.extract_mode and data.extract_mode|lower == "delta" %}
# DBTITLE 1,Determine delta value
delta_column = "{{ data.delta_column or '' }}"
max_raw = spark.sql(f"""
SELECT
  COALESCE(MAX(`{delta_column}`), CAST('1970-01-01' AS STRING)) AS MaxDelta
FROM `{catalog.name}`.`{zone}`.`{full_table_name}`
""").first()[0]

print(f"Using delta value: {max_raw}")

# COMMAND ----------
{% endif %}

# DBTITLE 1,Define query
extract_mode = ("{{ data.extract_mode or '' }}").lower()
source_location = {{ data.source_location | default("", true) | tojson }}
where_clause = ""

if source_location.strip() == "":
    source_location = f"SELECT * FROM [{source_name}]"
elif not source_location.strip().upper().startswith("SELECT"):
    source_location = f"SELECT * FROM {source_location.strip()}"

technical_columns = [
    "CAST(YEAR(SYSUTCDATETIME()) AS SMALLINT) AS __Year",
    "CAST(MONTH(SYSUTCDATETIME()) AS SMALLINT) AS __Month",
    "CAST(DAY(SYSUTCDATETIME()) AS SMALLINT) AS __Day",
    "SYSUTCDATETIME() AS __InsertTimestampUTC",
]

select_columns = [
{%- for column in data.select_columns %}
    {{ (column.source ~ " AS " ~ column.target) | tojson }},
{%- endfor %}
]
if not select_columns:
    select_columns = ["*"]

if extract_mode == "delta":
    source_delta_column = "{{ data.source_delta_column or '' }}"
    where_clause = f"\n    WHERE {source_delta_column} > '{max_raw}'"

technical_sql = ",\n        ".join(technical_columns)
select_sql = ",\n        ".join(select_columns)

pushdown_query = f"""
(
    SELECT
        {technical_sql}, {select_sql}
    FROM (
        {source_location}{where_clause}
    ) AS t
) AS src
"""

print(
    f"""Query:

{pushdown_query}"""
)

# COMMAND ----------

# DBTITLE 1,Read from source
table_df = (
    spark.read
    .format("jdbc")
    .option("driver", DRIVER)
    .option("url", database_connectionstring)
    .option("dbtable", pushdown_query)
    .load()
)

# COMMAND ----------

# MAGIC %md
# MAGIC ## Write to RAW zone

# COMMAND ----------

(
    table_df.write
    .mode(write_mode)
    .saveAsTable(f"{catalog_name}.{zone}.{full_table_name}")
)

# COMMAND ----------

# DBTITLE 1,Update extraction status
record_count = table_df.count()
print(f"Extracted {record_count} records in extraction")
