resources:
  pipelines:
    {{ data.resource_key }}:
      name: ${var.job_name_prefix}{{ data.pipeline_name }}
      catalog: ${var.catalog_name}
      schema: ${var.lakeflow_schema_prefix}{{ data.zone_name }}
      serverless: true
      channel: PREVIEW
      configuration:
        catalog_name: ${var.catalog_name}
        schema_prefix: ${var.lakeflow_schema_prefix}
      libraries:
        - notebook:
            path: ${workspace.root_path}/${var.lakeflow_output_path}/{{ data.notebook_relative_path }}
