unique_name: {{data.connection_name}}
label: {{data.connection_label}}
object_type: connection
as_connection: {{data.connection_id}}
database: {{data.connection_database}}
schema: {{data.connection_schema}}